<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        
        <table>
            <tr>
                <td>Nama Barang</td>
                <td>Harga Barang</td>
                <td>Item Barang</td>
                <td>Total Harga</td>
                <td>Diskon</td>
                <td>Total Akhir</td>
            </tr>
            
            <tr>
                <td><b th:text="${name}"></b></td>
                <td><b th:text="${price}"></b></td>
                <td><b th:text="${list}"></b></td>
                <td><b th:text="${total}"></b></td>
                <td><b th:text="${ketDiskon}"></b></td>
                <td><b th:text="${diskon}"></b></td>
            </tr>
        </table>
    </body>
</html>
